@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter";
}
body {
  background-image: url("../images/gradientbackground.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Start of the public styles */
.page {
  height: 100vh;
  .content {
    width: 80%;
    background-color: #f5f7ffd9;
    .dodo-btn {
      height: 55px;
      background: linear-gradient(#2663df, #758ff0);
    }
    form {
      .input-box {
        .icon {
          left: 7px;
          width: 25px;
          border-right: 1px solid #dbe3ff;
          i {
            font-size: 14px;
            color: #9cadf2;
          }
        }
        input {
          padding: 10px;
          padding-inline-start: 41px;
        }
        .error {
          height: 30px;
        }
      }
    }
  }
}
/* End of the public styles */

/* Start of the welcome page */
.welcome p {
  margin-bottom: 33px !important;
}
/* End of the welcome page */

/* Start of the register page */
.register {
  img {
    height: 505px;
    object-fit: cover;
  }
}
/* End of th register page  */
